<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="./dist/css/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header class="header">
      <div class="header-container bg-blue">
        <div class=" container-nav  d-flex align-items-center justify-content-around fixed-top nav-transparent ">
          <div class="logo-container">
            <a class="navbar-brand" href="#">
              <img src="/images/logo.jpg" alt="" width="30" height="24" class="d-inline-block align-text-top">
              BET-ARCHI sarl
            </a>
          </div>
          <nav class=" navigation  navbar  navbar-expand-md navbar-light">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                  
                  <div class="navbar-nav navbar-right">
                    <a class="nav-link border border-light mr-3 active" aria-current="page" href="#">Home</a>
                    <a class="nav-link border border-light" href="#">Features</a>
                    <a class="nav-link border border-light" href="#">Pricing</a>
                  </div>
                </div>
            </div>
          </nav>
        </div>
      </div>
 
      <div id="carousel" class="col-md-12 bloc">
        <div id="diaporama" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#diaporama" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#diaporama" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#diaporama" data-bs-slide-to="2" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#diaporama" data-bs-slide-to="3" aria-label="Slide 4"></button>
            <button type="button" data-bs-target="#diaporama" data-bs-slide-to="4" aria-label="Slide 5"></button>

          </div>
          <div class="carousel-inner">

            <div class="carousel-item active">
              <img src="/images/carousel1.jpg" alt="" srcset="">
              <div class="carousel-caption d-none d-md-block">
                <h5>Third slide label</h5>
                <p>Some representative placeholder content for the third slide.</p>
              </div>
            </div>
            <div class="carousel-item">
              <img src="/images/carousel2.jpg" alt="" srcset="">
              <div class="carousel-caption d-none d-md-block">
                <h5>Third slide label</h5>
                <p>Some representative placeholder content for the third slide.</p>
              </div>
            </div>
            <div class="carousel-item">
              <img src="/images/carousel3.jpg" alt="" srcset="">
              <div class="carousel-caption d-none d-md-block">
                <h5>Third slide label</h5>
                <p>Some representative placeholder content for the third slide.</p>
              </div>
            </div>
            <div class="carousel-item">
              <img src="/images/carousel4.jpg" alt="" srcset="">
              <div class="carousel-caption d-none d-md-block">
                <h5>Third slide label</h5>
                <p>Some representative placeholder content for the third slide.</p>
              </div>
            </div>
            <div class="carousel-item">
              <img src="/images/carousel5.jpg" alt="" srcset="">
              <div class="carousel-caption d-none d-md-block">
                <h5>Third slide label</h5>
                <p>Some representative placeholder content for the third slide.</p>
              </div>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#diaporama" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#diaporama" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>


        </div>

      </div>


    </header>
      

    <div class="container">
      <div class="section">
        <div class="section-title text-center mb-3">
          <p><h2>Achete</h2></p>
        </div>
        <div class="section-body row">
          <div class="col-md-4 ">
            <div class="card rounded border border-light">
              <img src="/images/card1.jpg" class="card-img-top" alt="Fissure in Sandstone"/>
              <div class="card-body">
                <h5 class="card-title">Appartement de 3.5 pièces</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#!" class="btn btn-primary"><span class="info">+</span> info</a>
              </div>
            </div>
          </div>

          <div class="col-md-4 ">
            <div class="card rounded border border-light">
              <img src="/images/card1.jpg" class="card-img-top" alt="Fissure in Sandstone"/>
              <div class="card-body">
                <h5 class="card-title">Appartement de 3.5 pièces</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#!" class="btn btn-primary"><span class="info">+</span> info</a>
              </div>
            </div>
          </div>

          <div class="col-md-4 ">
            <div class="card rounded border border-light">
              <img src="/images/card1.jpg" class="card-img-top" alt="Fissure in Sandstone"/>
              <div class="card-body">
                <h5 class="card-title">Appartement de 3.5 pièces</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#!" class="btn btn-primary"><span class="info">+</span> info</a>
              </div>
            </div>
          </div>

          <div class="col-md-4 ">
            <div class="card rounded border border-light">
              <img src="/images/card1.jpg" class="card-img-top" alt="Fissure in Sandstone"/>
              <div class="card-body">
                <h5 class="card-title">Appartement de 3.5 pièces</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#!" class="btn btn-primary"><span class="info">+</span> info</a>
              </div>
            </div>
          </div>

          <div class="col-md-4 ">
            <div class="card rounded border border-light">
              <img src="/images/card1.jpg" class="card-img-top" alt="Fissure in Sandstone"/>
              <div class="card-body">
                <h5 class="card-title">Appartement de 3.5 pièces</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#!" class="btn btn-primary"><span class="info">+</span> info</a>
              </div>
            </div>
          </div>

          <div class="col-md-4 ">
            <div class="card rounded border border-light">
              <img src="/images/card1.jpg" class="card-img-top" alt="Fissure in Sandstone"/>
              <div class="card-body">
                <h5 class="card-title">Appartement de 3.5 pièces</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#!" class="btn btn-primary"><span class="info">+</span> info</a>
              </div>
            </div>
          </div>

          <div class="col-md-4 ">
            <div class="card rounded border border-light">
              <img src="/images/card1.jpg" class="card-img-top" alt="Fissure in Sandstone"/>
              <div class="card-body">
                <h5 class="card-title">Appartement de 3.5 pièces</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#!" class="btn btn-primary"><span class="info">+</span> info</a>
              </div>
            </div>
          </div>

          <div class="col-md-4 ">
            <div class="card rounded border border-light">
              <img src="/images/card1.jpg" class="card-img-top" alt="Fissure in Sandstone"/>
              <div class="card-body">
                <h5 class="card-title">Appartement de 3.5 pièces</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#!" class="btn btn-primary"><span class="info">+</span> info</a>
              </div>
            </div>
          </div>
 
      </div>
      </div>
      <div class="section ">
        <div class="section-title text-center mb-3">
          <p><h2>Projets</h2></p>
        </div>
        <div class="col-md-12 card">
          <div class="p-5 text-center bg-images ">
            <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
              <div class="d-flex justify-content-center align-items-center h-100">
                <div class="text-white">
                <p><h3>Vous souhaitez réaliser votre projet</h3></p>
                </div>
              </div>
            </div>
        </div>
        </div>

        <div class="col-md-12 card">
          <div class="p-5 text-center bg-images ">
            <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
              <div class="d-flex justify-content-center align-items-center h-100">
                <div class="text-white">
                <p><h3>Vous souhaitez réaliser votre projet</h3></p>
                </div>
              </div>
            </div>
        </div>
        </div>

        <div class="col-md-12 card">
          <div class="p-5 text-center bg-images ">
            <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
              <div class="d-flex justify-content-center align-items-center h-100">
                <div class="text-white">
                <p><h3>Vous souhaitez réaliser votre projet</h3></p>
                </div>
              </div>
            </div>
        </div>
        </div>

        <div class="col-md-12 card">
          <div class="p-5 text-center bg-images ">
            <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
              <div class="d-flex justify-content-center align-items-center h-100">
                <div class="text-white">
                <p><h3>Vous souhaitez réaliser votre projet</h3></p>
                </div>
              </div>
            </div>
        </div>
        </div>
      </div>
      
    </div>
    <script src="./dist/js/bootstrap.min.js"></script>
    <script src="/javascripts/main.js"></script>
  </body>
</html>
